h1 {
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    }

p {
    font-weight: bold;
}